#log-button {
    position: absolute;
    width:  1in;
    height: 1in;
    left:   calc(50% - 0.5in);
    top:    calc(75% - 0.5in);
    border-radius: 100%;
    
    background-color: red;
}

#speech-bubble {
    position: absolute;
    width: 2in;
    height: 2in;
    left:   calc(50% - 1in);
    top:    calc(25% - 0.5in);
    border-radius: 25%;
    
    background-color: blue;
}