/* foreground colors */
$fg-primary-color: #333;
$fg-secondary-color: #505050;

/* midground colors */
$mg-primary-color: #9BD7D5;
$mg-secondary-color: #FF7260;

/* background colors */
$bg-primary-color: #129793;
$bg-secondary-color: #333;