@import 'colors';

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $bg-primary-color;
}

.flex-stack {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: space-around;
    align-items: center;
}

.viewport {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

#username {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 5px;
}